aiohttp
blinker
certifi
charset-normalizer
click
colorama
Flask
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
packaging
psutil
pyTelegramBotAPI
python-dotenv
python-telegram-bot
pytz
requests
schedule
telebot
urllib3
Werkzeug
zipp
